<form action="/books">
  <div class="col-xs-4">
    <div class="input-group">
      <span class="input-group-addon">検索キーワード</span>
      <input type="text" name="keyword" class="form-control" placeholder="キーワードは半角スペースで区切"/>
    </div>
  </div>
  <input class="btn btn-default" type="submit" value="検索"/>
</form>
